# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# CUSTOM
ParallelProcessPractice/bin/Debug/
ParallelProcessPractice/bin/Release/
ParallelProcessPractice/bin/x64/Debug/
ParallelProcessPractice/obj/Debug/
ParallelProcessPractice/obj/Release/
ParallelProcessPractice/obj/x64/Debug/

*.suo